/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
}
html,
body {
  height: 100%;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
/* Reset */
header {
  background-color: #0f4972;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0;
}
.header-container p {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.glider-contain {
  width: 100%;
  position: relative;
}
.glider {
  position: relative;
  background-color: #000;
}
.glider .slider-element {
  height: 598px !important;
}
.slider-element1 {
  background-image: url("./images/banner-slide-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-element2 {
  background-image: url("./images/banner-slide-1.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-element3 {
  background-image: url("./images/banner-slide-1.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-element4 {
  background-image: url("./images/banner-slide-1.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.glider-dot {
  border-radius: 0;
  width: 46px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.08);
}
.glider-dot.active {
  border-radius: 0;
  width: 46px;
  height: 4px;
  background: #f4ac1b !important;
}
.main-slide-content {
  padding: 148px 0 132px 0;
}
.main-text-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  width: 100%;
  max-width: 591px;
  /* or 117% */

  color: #ffffff;
}
.main-text-p {
  color: #ffffff;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  max-width: 488px;
  margin-top: 16px;
  /* or 150% */
}
.main-button-read-more {
  width: 202px;
  height: 56px;
  margin-top: 32px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background: #1f8ef5;
  border-radius: 8px;
  cursor: pointer;
}
.category-section {
  padding: 28px 0;
  box-shadow: 8px 8px 48px rgba(0, 0, 0, 0.08);
}
.category-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.category-element a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #858585;
  text-decoration: none;
}
.blog-cards {
  background-color: #e5e5e5;
  padding: 48px 0 114px 0;
}
.container-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  width: 384px;
  height: fit-content;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 8px 8px 48px rgba(0, 0, 0, 0.2);
  margin-bottom: 32px;
}
.card:nth-of-type(4),
.card:nth-of-type(5),
.card:nth-of-type(6) {
  margin: 0;
}
.card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.card-content {
  padding: 24px 16px 16px 16px;
}
.title-card {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* or 120% */

  color: #323232;
}
.text-card {
  margin-top: 8px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */

  color: #6f6f6f;
}
.button-card {
  margin-top: 32px;
  width: 100%;
  max-width: 352px;
  height: 56px;
  background: #1f8ef5;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.telegram-txt-btn-cta {
  padding: 21px 0;
}
.container-telegram {
  display: flex;
  justify-content: space-between;
}
.telegram-button {
  cursor: pointer;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #ffffff;
  padding: 16px 18px;
  border-radius: 8px;
  background-color: #1f8ef5;
  border: none;
}
.telegram-button div {
  width: 198px;
  display: flex;
  justify-content: space-around;
}
footer {
  background-color: #0a4167;
  padding: 36px 0 93px 0;
}
.container-footer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #0f4972;
  padding: 0 0 20px 0;
}
.app-google-play {
  display: flex;
}
.app-google-play p {
  color: #fff;
}
.second-part-footer {
  padding: 33px 0 0 0;
}
.container-footer-second {
  border: 0;
}
.footer-list {
  list-style: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.list-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.footer-list-link {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.footer-socials {
  height: 60px;
  padding: 0;
  background-color: #0f4972;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1440px) {
  .container-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .category-list {
    justify-content: space-evenly;
  }
  .container {
    padding-left: 2%;
    padding-right: 2%;
  }
  .main-button-read-more {
    width: 202px;
    height: 56px;
    margin-top: 32px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background: #1f8ef5;
    border-radius: 8px;
    cursor: pointer;
    border: none;
  }
}
.footer-social-flex {
  display: flex;
  justify-content: space-between;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #ffffff;
}
.social-list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
}
.header-mob {
  display: none;
}
@media screen and (max-width: 1024px) {
  .container-category {
    width: 1200px;
  }
  .category-list {
    justify-content: space-between;
  }
  .category-section {
    overflow-x: scroll;
  }
  .footer-socials {
    height: 200px;
  }
  .footer-social-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px !important;
  }
}

@media screen and (max-width: 768px) {
  .container-telegram {
    flex-wrap: wrap;
    gap: 16px;
  }
  .card {
    margin-bottom: 16px !important;
  }
  .card:last-of-type {
    margin-bottom: 0 !important;
  }
  .container-footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .app-google-play {
    justify-content: space-between;
    width: 100%;
  }
  .container-footer-second {
    gap: 32px !important;
  }
  .header-desk {
    display: none;
  }
  .header-mob {
    display: block;
  }

  .header-mob-flex {
    padding: 2%;
    display: flex;
    justify-content: space-between;
  }
  .menu {
    width: 32px;
  }
}
